@import 'settings/colors';
@import 'settings/fonts';

.home-header {
    background-color: $color-lightgray;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .home-hero-img {
        width: 50%;
        max-width: 500px;
        margin-right: auto;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .header-decoration {
        display: block;
        margin: 10px auto;
        width: 150px;
    }

    .top-menu {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        .login, .register {
            text-decoration: none;
            color: $color-darkgray;
            transition: color 0.3s ease;

            &:hover {
                color: $color-yellow;
            }
        }
    }

    .bottom-menu {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        a {
            text-decoration: none;
            color: $color-darkgray;
            transition: color 0.3s ease;

            &:hover {
                color: $color-yellow;
            }
        }
    }

    .main-buttons, .header-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .main-button, .header-button {
        margin-left: 20px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s ease;
    }

    .main-button {
        background-color: $color-yellow;
        color: $color-darkgray;

        &:hover {
            background-color: darken($color-yellow, 10%);
        }
    }

    .header-button {
        background-color: transparent;
        color: $color-darkgray;

        &:hover {
            color: $color-yellow;
        }
    }
}

