.who-we-help-section {
  padding: 50px 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .decoration {
    margin: 20px 0;
    width: 100px;
  }

  .categories-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    button {
      padding: 10px 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: color 0.3s ease;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        color: #FAD648;
      }
    }
  }

  .category-description {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 50px auto;
  }

  .category-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .category-item {
      flex-basis: calc(33.33% - 20px);
      margin-bottom: 20px;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.2rem;
        margin: 10px 0;
      }

      span {
        color: #3C3C3C;
        font-size: 1rem;
      }
    }
  }
}


.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        margin: 0 5px;
        padding: 5px 10px;
        border: 2px solid #000;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #FAD648;
        }

        &.active {
            background-color: #FAD648;
            color: #000;
        }
    }
}
